
body{
  background-color: #ffbaf2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
margin: 0;
}

.home{
  font-family: 'Bangers', cursive;
  font-size: 5em;
  text-shadow: 2px 2px 5px #A239EA;

}

.home:hover{
  cursor: pointer;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

}

.game-main{
display: flex;
flex-direction: column;
padding-top: 2.5%;
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-option-container{
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 70vh;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

.game-option{
  border: 2px solid #A239EA;
  width: 20%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: deepskyblue;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  box-shadow: 1px 1px 0px #A239EA,
                2px 2px 0px #A239EA,
                3px 3px 0px #A239EA,
                4px 4px 0px #A239EA,
                5px 5px 0px #A239EA,
                6px 6px 0px #A239EA;
}

.game-option:hover{
  cursor: pointer;
}

/* LeaderBoard */

.leaderBoardDiv{
  display: flex;
  justify-content: center;
}
.leaderHeader{
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.leaderTable{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.leaderTable > h3{
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
}

.questionDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questionDiv > span {
  font-size: 4em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.answerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}

.answerBox {
  border: 3px solid #A239EA;
  border-radius: 100%;
  height: 10%;
  background-color: deepskyblue;
  -webkit-appearance: none;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  padding: 5% 6%;
  box-shadow: 1px 1px 0px #A239EA,
                2px 2px 0px #A239EA,
                3px 3px 0px #A239EA,
                4px 4px 0px #A239EA,
                5px 5px 0px #A239EA,
                6px 6px 0px #A239EA;
}






.correctDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.correctSpan {
  font-size: 4em;
  font-family: 'Nunito', sans-serif;

}

.wrongDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrongSpan {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: red;
}

.timeOutDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timeOutSpan {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: red;
}

.clockDiv{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 150px;
  right: 100px;
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: red;
}


.healthList{
  list-style-type: none;
}

.healthList > li {
  padding: 0;
  margin: 0;
}

.healthDiv{
left: 100px;
position: absolute;
top: 150px;
display: flex;
justify-content: center;
align-items: center;
}

.healthDiv > span {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: blue;
}

.gameOverDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameOverText{
  font-size: 3.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: red;
}

.gameOverDiv > span{
  font-size: 2.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.playAgain{
  width: 50%;
  height: 50px;
  margin-top: 50px;
  font-size: 1.5em;
  background: deepskyblue;
  border: 3px solid #A239EA;
  box-shadow: 1px 1px 0px #A239EA,
                2px 2px 0px #A239EA,
                3px 3px 0px #A239EA,
                4px 4px 0px #A239EA,
                5px 5px 0px #A239EA,
                6px 6px 0px #A239EA;
}

.scoreDiv{
  display: flex;
  flex-grow: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 100px;
  bottom: 125px;
}

.scoreDiv > span {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: blue;

}
.streakDiv{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 125px;
  right: 100px;
}

.streakDiv > span {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: blue;
}

.correctImage{
  width: 300px;
  height: 300px;
}

.wrongImage{
  width: 300px;
  height: 300px;
}
.settings{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.leaderboard{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.leaderBoardScores{
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;

}

.leaderboard:hover, .settings:hover{
  cursor: pointer;
}

.settingsDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.settingsDiv > span {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
}

.formDiv{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.answerTime {
  width: 300px;
}
.formDiv > label {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
}

.settingsButton{
  height: 50px;
  width: 300px;
  margin-top: 50px;
  font-size: 1.5em;
  background: deepskyblue;
  border: 3px solid  #A239EA;
  text-align: center;
  box-shadow: 1px 1px 0px #A239EA,
                2px 2px 0px #A239EA,
                3px 3px 0px #A239EA,
                4px 4px 0px #A239EA,
                5px 5px 0px #A239EA,
                6px 6px 0px #A239EA;
}
.answerTime, .highestNumber{
  width: 100%;
}



@media screen and (max-width: 1366px){
  .home{
    font-size: 8em;
  }
  .game-option{
    width: 30%;
  }
  .playAgain{
    width: 30%;
  }
  .answerTime, .highestNumber{
    width: 100%;
  }
  .settingsDiv > span{
    font-size: 5em;
    font-weight: 700;
  }
  .formDiv > label {
    font-size: 4em;
  }
}

@media screen and (max-width: 1024px){
  .home{
    font-size: 6em;
  }
  .game-option {
    width: 35%;

  }
  .game-main{
    padding: 0;
  }
  .scoreDiv{
    bottom: 30px;
    left: 50px;
  }
  .streakDiv{
    bottom: 30px;
    right: 50px;
  }
  .healthDiv{
    left: 50px;
  }
  .clockDiv{
    right: 50px;
  }
  .answerTime, .highestNumber{
    width: 75%;
  }
  .formDiv > label {
    font-size: 2em;
  }
  .settingsDiv > span{
    font-size: 3.5em;
    font-weight: 700;
  }
  .leaderTable > h3 {
    margin: 0;
    font-size: 2.5em;
  }
}


@media screen and (max-width: 375px){
  .title-container{
    width: 30%;
    line-height: 1;
    margin: 0 auto;
  }
  .home{
    font-size: 3em;
    text-align: center;
  }
  .game-option-container{
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .game-option{
    width: 100%;
  }
  .leaderboard, .settings{
    bottom: 50px;
  }
  .game-main{
    padding: 0;
    padding-top: 15%;
  }
  .questionDiv > span{
    font-size: 3em;
    font-weight: 700;

  }
  .clockDiv{
    font-size: 1em;
    right: 20px;
    top: 170px;
    font-weight: 700;
  }
  .healthDiv > span {
    display: none;
  }
  .healthDiv{
    left: -10px;
    top: 155px;
  }
  .scoreDiv > span, .streakDiv > span{
    font-size: 2em;
  }
  .streakDiv{
    right: 25px;

  }
  .scoreDiv{
    left: 25px;
  }
  .answerDiv{
    width: 80%;
  }

  .wrongSpan, .correctSpan, .timeOutSpan{
    font-size: 2em;
  }
  .wrongImage, .correctImage,{
    width: 200px;
    height: 200px;
  }
  .timeOutImage{
    width: 200px;
    height: 150px;
  }
  .gameOverText{
    font-size: 2em;
  }
  .gameOverDiv > span {
    font-size: 2em;

  }
  .settingsButton{
    width: 50%;
  }
  .answerTime, .highestNumber{
    width: 50%;
  }
  .settingsDiv > span {
    font-size: 2.5em;
  }
  .answerLabel{
    padding-top: 10%;
  }
}


@media screen and (max-width: 414px){
  .title-container{
    width: 30%;
    line-height: 1;
    margin: 0 auto;
  }
  .home{
    font-size: 4em;
    text-align: center;
  }
  .game-option-container{
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .game-option{
    width: 100%;
  }
  .leaderboard, .settings{
    bottom: 50px;
  }
  .game-main{
    padding: 0;

  }
  .questionDiv > span{
    font-size: 3em;
    font-weight: 700;

  }
  .clockDiv{
    font-size: 1em;
    right: 20px;
    top: 170px;
    font-weight: 700;
  }
  .healthDiv > span {
    display: none;
  }
  .healthDiv{
    left: -10px;
    top: 155px;
  }
  .scoreDiv > span, .streakDiv > span{
    font-size: 2em;
  }
  .streakDiv{
    right: 25px;

  }
  .scoreDiv{
    left: 25px;
  }
  .answerDiv{
    width: 80%;
  }

  .wrongSpan, .correctSpan, .timeOutSpan{
    font-size: 2em;
  }
  .wrongImage, .correctImage,{
    width: 200px;
    height: 200px;
  }
  .timeOutImage{
    width: 200px;
    height: 150px;
  }
  .gameOverText{
    font-size: 2em;
  }
  .gameOverDiv > span {
    font-size: 2em;

  }
  .settingsButton{
    width: 50%;
  }
  .answerTime, .highestNumber{
    width: 50%;
  }
  .settingsDiv > span {
    font-size: 2.5em;
  }
  .answerLabel{
    padding-top: 10%;
  }
}

@media screen and (max-width: 320px){
  .title-container{
    width: 40%;
    line-height: 1;
    margin: 0 auto;
  }
  .home{
    font-size: 3em;
    text-align: center;
  }
  .game-option-container{
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .game-option{
    width: 100%;
  }
  .leaderboard, .settings{
    bottom: 50px;
  }
  .game-main{
    padding: 0;
  }
  .questionDiv > span{
    font-size: 2.5em;

  }
  .clockDiv{
    font-size: 1em;
    right: 20px;
    top: 120px;
    font-weight: 700;
  }
  .healthDiv > span {
    display: none;
  }
  .healthDiv{
    left: -10px;
    top: 100px;
  }
  .scoreDiv > span, .streakDiv > span{
    font-size: 2em;
  }
  .streakDiv{
    right: 25px;

  }
  .scoreDiv{
    left: 25px;
  }
  .answerDiv{
    width: 80%;
  }

  .wrongSpan, .correctSpan, .timeOutSpan{
    font-size: 2em;
  }
  .wrongImage, .correctImage,{
    width: 200px;
    height: 200px;
  }
  .timeOutImage{
    width: 200px;
    height: 150px;
  }
  .gameOverText{
    font-size: 2em;
  }
  .gameOverDiv > span {
    font-size: 2em;

  }
  .settingsButton{
    width: 50%;
  }
  .answerTime, .highestNumber{
    width: 50%;
  }
  .settingsDiv > span {
    font-size: 2.5em;
  }
  .answerLabel{
    padding-top: 10%;
  }
}
